{% extends 'base_component.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <!-- Modal -->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal_header_bg">
                <h4 class="modal-title text-white" id="myModalLabel70">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="frm_change_password" action="{% url "save_changed_password" %}" method = "POST" >
                    {% csrf_token %}

                    <table>
                        {% crispy form %}
                    </table>


                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="id_set_password" class="btn btn-outline-primary">Set Password</button>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>

        $("#id_set_password").on("click", function()
        {
            var form = $('#frm_change_password');
            var url = form.attr('action');

            var old_password =  encodeURIComponent(document.getElementById("id_old_password").value);
            var new_password1 =  encodeURIComponent(document.getElementById("id_new_password1").value);
            var new_password2 =  encodeURIComponent(document.getElementById("id_new_password2").value);


            if (new_password1 != new_password2)
            {
               swal("Password mismatch", "Passwords do not match", "warning");
            }
            else
            {

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(), // serializes the form's elements.
                    success: function(status)
                    {
                             swal("Success!", "Password successfully changed.", "success");


                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown)
                    {

                        swal("Failed!", "Password changing failed.", "error");
                    }

                });

                e.preventDefault(); // avoid to execute the actual submit of the form.

            }




        });

    </script>


{% endblock %}