{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block content %}

    <div class="row" id="ward_mappings">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Ward Mappings</h4>
                </div>

                <div class="col-md-2">
                    <button type="button" class="btn btn-outline-primary block btn-md" data-toggle="modal" data-target="#default">
                        <i class="la la-plus"></i>New Ward Mapping
                    </button>
                </div>

                <div class="card-body">

                    <div class="table-responsive">

                        {% render_table ward_mappings_table %}

                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="form-group">
            <!-- Modal -->
            <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel1">New Ward Mapping</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">


                            <form id="form_ward_mapping" method = "POST" action="{% url 'get_wards_page' %}">

                                {% csrf_token %}

                                <table>

                                    {% crispy ward_mapping_form %}


                                </table>

                                <div class="modal-footer">
                                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-outline-primary">Save</button>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>

        $(document).ready(function() {

            $(".btn_delete").on( "click", function( event ) {
                var id = $(this).attr('id');

                swal({
                    title: "Are you sure you want to delete this mapping?",
                    text: "This mapping will be removed permanently." ,
                    icon: "warning",
                    buttons: [
                        'No, cancel it!',
                        'Yes, I am sure!'
                    ],
                    dangerMode: true,
                }).then(function(isConfirm) {
                    if (isConfirm) {
                        var mapping_type = "wards";
                        var url = '{% url "delete_mapping" %}';

                        $.ajax({
                            type: "POST",
                            url: url,
                            data: {
                                mapping_id: id, mapping_type: mapping_type,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function(data)
                            {

                                        window.location.reload();


                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {

                                swal({
                                    title: 'Operation failed.',
                                    icon: 'error'
                                });

                            }
                        });

                        e.preventDefault(); // avoid to execute the actual submit of the form.

                    }

                })

            });



            $('.btn_update').on("click", function () {

                var id = $(this).attr('id');


                $("#popModal").load('{% url 'update_ward' 123 %}'.replace('123',id), function() {
                    $("#popModal").modal("show");
                });

            });

        });


    </script>

{% endblock %}