#header {
    width: 100%;
    background-color: red;
    height: 30px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.ui-datepicker 
{
 z-index: 9999 !important; 
}

.summary-spacing
{
    margin-left:10px;
}

#container {
    width: 300px;
    background-color: #ffffff;
    margin: auto;
}
#first {
    width: 60%;
    float: left;
    height: 100%;
        background-color: #ffffff;
}
#second {
    margin-left: 5%;
    width: 35%;
    float: left;
    height: 100%;
    background-color: #ffffff;
}

.white-font-color
{
   color: #FFFFFF;
    font-size: 40px;
    margin-left: 50px;
}

.spinner {
   border: 0px solid;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70px;
  height: 70px;
  margin: auto;
}

.side {
   display:inline-block;
}

.modal_header_bg {

    background-color: #28d094;
    /*background-color: #00A5BB;*/
}

.modal_header_bg_danger {

    background-color: #ff9149;
    /*background-color: #00A5BB;*/
}

div.hidden
{
   display: none
}

form label{
  font-weight:bold;
}

#order_content{
    height:100%
}
#clear {
    clear: both;
}

.focused{
  border: solid 1px red;
  }

.my_select2_optgroup_selected {
    background-color: #ddd;
}
.my_select2_optgroup_hovered {
    color: #FFF;
    background-color: #5897fb !important;
    cursor: pointer;
}
strong.select2-results__group {
    padding: 0 !important;
}
.my_select2_optgroup {
    display: block;
    padding: 6px;
}

